<div class="jumbotron">
  <h1>Welcome to FunLand!</h1>
  <p><a class="btn btn-primary btn-lg" href="/signin" role="button">Login Here</a>
  <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up Here</a></p>
  </div>